#header  {
  background-color: #FFDBAA;
  font-color: #553100;
}

.button {
  background-color: #805215;
}

.main {
  background-color: #D4A76A;
}

div {
  width: 300px;
  height: 100px;
  background-color: blue;
}